.play_lists_container {
  margin: 1em;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1em;
  row-gap: 1em;

  .c1 {
    grid-column-start: 1;
  }

  .c2 {
    grid-column-start: 2;
  }
}


.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.play_lists_css {
  font-family: sans-serif, serif;




  .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
}
