.container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 3fr;
  row-gap: 1em;
  column-gap: 1em;
  font-family: sans-serif;

  .cassette_container {
    grid-row-start: 1;
    grid-column-start: 1;

    #cassette {
      margin-top: 4em;
      cursor: default;
      height: auto;
      width: 100%;

      .wheel.right {
        transform-origin: 457.21px 217.385px;
      }

      .wheel.left {
        transform-origin: 188.564px 217.335px;
      }

      .strawberry {
        fill: #ea3402
      }

      .cassette_outline {
        fill: #0a0b09
      }
    }
  }

  .metadata {
    grid-row-start: 1;
    grid-column-start: 2;
    width: 100%;
  }
}
