.container-dashboard {
  margin: 1em;
}

video {
  width: 100%;
}


.dashboard-headers-align .mat-expansion-panel-header-title,
.dashboard-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.dashboard-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

.dashboard {
  .mat-content {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;

    .picture {
      grid-column-start: 1;

      img.img-thumbnail-album {
        width: 100%;
        max-width: 350px;
        height: auto;
      }
    }

    .metadata-song {
      grid-column-start: 2;
      grid-template-rows: 4em 1em 1em 1em;

      .title-artist-album {
        margin-left: 2em;

        .title {
          grid-row-start: 1;
        }

        .artist {
          grid-row-start: 2;
        }

        .album {
          grid-row-start: 3;
        }

        .isrc {
          grid-row-start: 4;
        }
      }
    }

    .controllers {
      grid-column-start: 3;
    }
  }
}
