<div class="container">
  <button mat-button (click)="addFavorite()">addFavorite</button>
  <button mat-button (click)="addAllFavorites()">addAllFavorites</button>
  <button mat-button (click)="deleteFavorite()">deleteFavorite</button>
  <button mat-button (click)="deleteAllFavorites()">deleteAllFavorites</button>
  <button mat-button (click)="getAllFavorites()">getAllFavorites</button>
  <button mat-button (click)="database()">database</button>
  <button mat-button (click)="data()">data</button>
  <button mat-button (click)="load()">load</button>

  <button mat-button (click)="openSnackBar()" aria-label="Show an example snack-bar">
    Pizza party
  </button>
</div>
