#play-list-container {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;

  column-gap: 1em;
  row-gap: 1em;

  .song-card {
    height: 95%;
    max-width: 400px;
  }

  .song-card-image {
    background-size: cover;
  }
}
