
.player {
  width: 100%;
  min-width: 620px;
  height: 90px;
  border-bottom: 2px solid mediumvioletred;
  display: grid;
  grid-gap: 10px;
  color: whitesmoke;
  background: #171717;
  grid-template-columns: 250px 2fr 250px;

  .info {
    grid-column-start: 1;
    display: grid;
    width: 100%;
    grid-template-columns: 90px 1fr;
    align-items: center;

    .picture {
      grid-column-start: 1;

      img.img-thumbnail {
        height: 100%;
        width: 100%
      }
    }

    .title-artist-album {
      display: grid;
      grid-column-start: 2;
      grid-template-rows: 30px 25px 25px;
      padding-left: 1em;
      font-family: sans-serif;

      .title {
        grid-row-start: 1;

        h4 {
          margin: 0;
        }
      }

      .artist {
        grid-row-start: 2;

        p {
          margin: 0;
        }
      }

      .album {
        grid-row-start: 3;

        p {
          margin: 0;
        }
      }
    }
  }

  .controllers {
    display: grid;
    grid-auto-rows: auto auto;
    align-items: center;
    grid-column-start: 2;

    .buttons {
      display: grid;
      grid-template-columns: 100px 100px 100px;
      justify-content: center;
    }

    .progress-bar {
      display: grid;
      grid-template-columns: auto 1fr auto;
      align-items: center;

      .elapsed-time {
      }

      .mat-slider-player {
      }

      .duration-time {
      }
    }
  }

  .volume {
    grid-column-start: 3;
    display: grid;
    align-items: end;
    grid-template-columns: auto;
    justify-content: center;
  }
}
