<mat-card class="equalizer">

  <button mat-button (click)="update()">Update</button>
  <button mat-button (click)="default()">Default</button>
  <button mat-button (click)="send()">Send</button>


  <div class="section">
    <div class="title-select">
      <h3>Selecciona el filtro del equalizador</h3>
      <mat-form-field>
        <mat-label>Selecciona el filtro del equalizador</mat-label>
        <mat-select [(value)]="filterTypeSelected">
          <mat-option *ngFor="let filter of filterType" [value]="filter.value">
            {{filter.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p>{{filterTypeSelected}}</p>
    </div>

    <div class="sliders" *ngFor="let slider of filterType">


      <div class="range-slider">
        <span class="scope scope-min">{{slider.frequency.minValue}}</span>
        <mat-slider class="mat-slider-eq"
                    min="{{slider.frequency.minValue}}"
                    max="{{slider.frequency.maxValue}}"
                    step="{{slider.frequency.step}}"
                    [thumbLabel]="true"
                    [(ngModel)]="slider.frequency.value"></mat-slider>
        <span class="scope scope-max">{{slider.frequency.maxValue}}</span>
        <span class="param">Hz</span>
      </div>

      <div class="range-slider" *ngIf="slider.gain">
        <span class="scope scope-min">{{slider.gain.maxValue}}</span>
        <mat-slider class="mat-slider-eq"
                    min="{{slider.gain.minValue}}"
                    max="{{slider.gain.maxValue}}"
                    step="{{slider.gain.step}}"
                    [(ngModel)]="slider.gain.value"></mat-slider>
        <span class="scope scope-max">{{slider.gain.maxValue}}</span>
        <span class="param">Hz</span>
      </div>


      <div class="range-slider" *ngIf="slider.Q">
        <span class="scope scope-min">{{slider.Q.maxValue}}</span>
        <mat-slider class="mat-slider-eq"
                    min="{{slider.Q.minValue}}"
                    max="{{slider.Q.maxValue}}"
                    step="{{slider.Q.step}}"
                    [(ngModel)]="slider.Q.value"></mat-slider>
        <span class="scope scope-max">{{slider.Q.maxValue}}</span>
        <span class="param">Hz</span>
      </div>


    </div>
  </div>

</mat-card>
