<mat-card class="equalizer">

  <button mat-button (click)="update()">Update</button>
  <button mat-button (click)="default()">Default</button>


  <div class="section">
    <div class="title-select">
      <h3>Selecciona el filtro del equalizador</h3>
      <mat-form-field>
        <mat-label>Selecciona el filtro del equalizador</mat-label>
        <mat-select [(value)]="filterTypeSelected">
          <mat-option *ngFor="let filter of filterType" [value]="filter.value">
            {{filter.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p>{{filterTypeSelected}}</p>
    </div>

    <div class="sliders">
      <div class="range-slider">
        <span class="scope">{{filterNode.frequency.minValue}}</span>
        <mat-slider class="mat-slider-eq"
                    min="{{filterNode.frequency.minValue}}"
                    max="{{filterNode.frequency.maxValue}}"
                    step="5"
                    [(ngModel)]="frequencyValue"></mat-slider>
        <span class="scope scope-min">{{filterNode.frequency.maxValue}}</span>
        <span class="param">Hz</span>
      </div>

      <div class="range-slider">
        <span class="scope">{{gainNode.gain.minValue}}</span>
        <mat-slider class="mat-slider-eq"
                    min=".0001"
                    max="10"
                    step=".0005"
                    [(ngModel)]="qValue"></mat-slider>
        <span class="scope scope-min">{{gainNode.gain.maxValue}}</span>
        <span class="param">dB</span>
      </div>
    </div>
  </div>

</mat-card>
