.equalizer-controllers {
  margin: 1em;
}

.equalizer {
  margin: 1em;
  display: grid;

  .section {
    display: inline-grid;
    grid-template-columns: 2fr;
    justify-items: center;
    align-items: center;

    .title-select {
      grid-column-start: 1;
    }

    .sliders {
      grid-column-start: 1;
      width: 100%;

      .range-slider {
        display: grid;
        grid-template-columns: 1fr 6fr 1fr 0.5fr;
        justify-items: center;
        align-items: center;

        .scope-min {
          grid-column-start: 1;
          justify-self: center;
        }

        .mat-slider-eq {
          grid-column-start: 2;
          width: 100%;
        }

        .scope-max {
          grid-column-start: 3;
          justify-self: center;
        }

        .param {
          grid-column-start: 4;
          justify-self: stretch;
        }
      }
    }


  }
}
